#main-content {
	& [data-visibility-type] {
		&:not([data-visibility-type="always"]):not(.current) {
			display: none;
		}
	}

	& [data-type="short-text-input"] {
		display: inline-block;
	}

	& [data-type="table"] {
		&[data-style="basic"] {
			&, & tr, & td {
				border: 1px solid gray;
			}
			
			& thead {
				background-color: #7774;
			}
		}
	}

	& [data-type="text"] { }

	& [data-type="paragraph"] {
		margin: 0;
	}

	& [data-type="browser-sim"] {
		--debug-color: 0, 200, 100;
	}

	& [data-type="browser-link"] {
		.debug & {
			color: blue;
			text-decoration: underline;
		}
	}

	& [data-type="paragraph"],
	& [data-type="browser-sim"],
	& [data-type="browser-page"],
	& [data-type="container"] {
		.debug & {
			display: block;
			border: 1px solid rgb(var(--debug-color));
			box-sizing: border-box;
			position: relative;
			min-height: calc(1rem + 2px);
			padding-top: 1rem;

			&:has(&) {
				padding: 0.25rem;
				padding-top: 1.25rem;
			}

			[data-type="container"]:is([data-layout="vertical"], :not([data-layout])) > & + & {
				margin-top: 4px;
			}

			&[data-layout="horizontal"] {
				gap: 4px;
			}

			&::before {
				content: attr(data-name);
				display: block;
				background-color: rgba(var(--debug-color), 0.2);
				color: rgb(var(--debug-color));
				position: absolute;
				height: 1rem;
				line-height: 1;
				width: fit-content;
				padding: 0 4px;
				top: 0;
				left: 0;
			}
		}
	}

	& [data-type="browser-page"] {
		--debug-color: 0, 200, 0;

		.debug & {
			& + & {
				margin-top: 0.25rem;
			}

			&::before {
				content: "https://" attr(url);
			}
		}
	}

	& [data-type="container"] {
		--debug-color: 255, 0, 0;
		display: block;
		box-sizing: border-box;

		&[data-align] {
			&[data-align="left"] {
				
			}
			&[data-align="center"] {
				max-width: 100%;
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
			}
			&[data-align="right"] {
				max-width: 100%;
				width: fit-content;
				margin-left: auto;
			}
		}

		&[data-layout="vertical"] {
			display: flex;
			flex-direction: column;
		}
		&[data-layout="horizontal"] > * {
			display: inline-block;
		}
		&[data-layout="two-column-alternating"] {
			display: grid;
			grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
			gap: 0.5rem;
		}
		&[data-layout="two-row-alternating"] {
			display: grid;
			grid-template-rows: 1fr 1fr;
		}
	}

	& [data-type="browser"] {
		& {
			background-color: #999;
			padding: 2px;
		}
		& [data-type="browser-tab-container"] {
			display: flex;
			gap: 2px;
			padding: 2px 2px 0 2px;
			& button {
				backgorund-color: white;
				border: none;
				border-radius: 4px 4px 0 0;
			}
		}
		& img {
			width: 100%;
		}
		& [data-type="browser-address-container"] {
			padding: 4px 6px;
			background-color: #ccc;
			display: flex;
			align-items: center;
			gap: 6px;

			& img {
				width: fit-content;
			}
			& span {
				flex-grow: 1;
				background-color: white;
				padding: 2px;
			}
		}
	}
}


