#main-content {
	& [data-visibility-type] {
		&:not([data-visibility-type="always"]):not(.current) {
			display: none;
		}
	}

	& [data-type="short-text-input"] {
		display: inline-block;
	}

	& [data-type="table"] {
		&[data-style="basic"] {
			&, & tr, & td {
				border: 1px solid gray;
			}
			
			& thead {
				background-color: #7774;
			}
		}
	}

	& [data-type="text"] { }

	& [data-type="container"] {
		.debug & {
			/* padding-top: 14px; */
			border: 1px solid red;
			box-sizing: border-box;
			position: relative;
			min-height: calc(1rem + 2px);

			&:has(&) {
				padding: 0.25rem;
				padding-top: 1.25rem;
			}
			padding-top: 1rem;

			[data-type="container"]:is([data-layout="vertical"], :not([data-layout])) > & + & {
				margin-top: 4px;
			}

			&[data-layout="horizontal"] {
				gap: 4px;
			}

			&::before {
				content: attr(data-name);
				display: block;
				background-color: #f002;
				color: red;
				position: absolute;
				height: 1rem;
				line-height: 1;
				width: fit-content;
				padding: 0 4px;
				top: 0;
				left: 0;
			}
		}

		&[data-align] {
			&[data-align="left"] {
				
			}
			&[data-align="center"] {
				max-width: 100%;
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
			}
			&[data-align="right"] {
				max-width: 100%;
				width: fit-content;
				margin-left: auto;
			}
		}

		&[data-layout="vertical"] {
			display: flex;
			flex-direction: column;
		}
		&[data-layout="horizontal"] {
			display: flex;
			flex-direction: row;
			& > * {
				flex-grow: 1;
			}
		}
		&[data-layout="two-column-alternating"] {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		&[data-layout="two-row-alternating"] {
			display: grid;
			grid-template-rows: 1fr 1fr;
		}
	}

	& [data-type="paragraph"] {
		.debug & {
			padding: 4px;
			padding-top: 14px;
			border: 1px solid green;
			position: relative;

			& + & {
				margin-top: 4px;
			}

			&::before {
				content: attr(data-name);
				display: block;
				background-color: #0f02;
				color: green;
				position: absolute;
				width: fit-content;
				height: 10px;
				font-size: 6px;
				padding: 0 4px;
				top: 0;
				left: 0;
			}
		}
	}

	& [data-type="browser"] {
		& {
			background-color: #999;
			padding: 2px;
		}
		& [data-type="browser-tab-container"] {
			display: flex;
			gap: 2px;
			padding: 2px 2px 0 2px;
			& button {
				backgorund-color: white;
				border: none;
				border-radius: 4px 4px 0 0;
			}
		}
		& img {
			width: 100%;
		}
		& [data-type="browser-address-container"] {
			padding: 4px 6px;
			background-color: #ccc;
			display: flex;
			align-items: center;
			gap: 6px;

			& img {
				width: fit-content;
			}
			& span {
				flex-grow: 1;
				background-color: white;
				padding: 2px;
			}
		}
	}
}


