ul.tags li {
	&[t="მათემატიკა"] {
		--bg: 17, 121, 131;
		--bd: 17, 121, 131;
		--fg: 255, 255, 255;
	}
	&[t="კითხვა"] {
		--bg: 228, 66, 60;
		--bd: 228, 66, 60;
		--fg: 255, 255, 255;
	}
	&[t="ბუნებისმეტყველება"] {
		--bg: 249, 182, 33;
		--bd: 249, 182, 33;
		--fg: 255, 255, 255;
	}
}
