:root {
	--width: 1024px;
}
html, body {
	margin: 0;
}

body {
	background-color: #eee;
	padding: 1rem;
}

#test-name {
	text-align: center;
}
header {
	display: block;
	width: calc(var(--width) + 4rem);
	margin: auto;
	box-sizing: border-box;
	border-radius: 0.25rem;
}

main {
	box-sizing: border-box;
	width: calc(var(--width) + 4rem);
	padding: 2rem;
	margin: auto;
	margin-top: 0.5rem;
	background-color: white;
	border-radius: 0.25rem;

	& #main-content {
		box-sizing: border-box;
		width: var(--width);
		margin: auto;
	}
}

#controls {
	box-sizing: border-box;
	/* height: 2rem; */
	display: flex;
	gap: 0.5rem;
	user-select: none;

	& #page-controls {
		display: flex;
		gap: 0.25rem;
	}

	& button {
		display: inline-block;
		box-sizing: border-box;
		height: 2rem;
		background-color: white;
		border: none;
		border-radius: 0.25rem;
		padding: 0 1rem;
	
		&:hover {
			background-color: lightgray;
		}
	}

	& label {
		display: inline-block;
		box-sizing: border-box;
		text-align: center;
		vertical-align: center;
		background-color: lightgray;
		border-radius: 3px;
		width: 2rem;
		height: 2rem;
		user-select: none;
		padding: 0.25rem;

		&:hover {
			outline: solid gray;
		}
		&:has(:checked) {
			background-color: white;
			outline: 0.1rem solid gray;
		}
	}

	& input {
		display: none;
	}
}
