:root {
	--width: 1024px;
}
html, body {
	margin: 0;
}

body {
	background-color: #eee;
	padding: 1rem;
}

#test-name {
	text-align: center;
}
header {
	display: block;
	width: calc(var(--width) + 1rem);
	margin: auto;
	box-sizing: border-box;
	border-radius: 0.25rem;
}

main {
	box-sizing: border-box;
	width: calc(var(--width) + 1rem);
	padding: 0.5rem;
	margin: auto;
	margin-top: 0.5rem;
	background-color: white;
	border-radius: 0.25rem;

	#main-content {
		width: var(--width);
		margin: auto;
	}
}

#page-controls {
	box-sizing: border-box;
	height: 1.5rem;
	display: flex;
	gap: 0.25rem;
	user-select: none;

	& label {
		display: inline-block;
		text-align: center;
		background-color: lightgray;
		border-radius: 3px;
		width: 2rem;
		user-select: none;

		&:hover {
			outline: solid gray;
		}
		&:has(:checked) {
			background-color: white;
			outline: 0.1rem solid gray;
		}
	}

	& input {
		display: none;
	}
}
